* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box; 
}

.grid__body {
    display: grid;
    grid-template: repeat(3, auto) / repeat(3, auto);
    padding: 30px;
}

.grid__item {
    margin: 20px;
    border: 5px solid gray;
    text-align: center;
    padding: 30px;
}